.timeline{
  overflow-x: scroll;
  max-width: 100vw;
}

ol{
  padding-inline-start: 0px;
}
.column{
  list-style: none;
  display: flex;
}
.item{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}

.item__content{
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.black{
  border: 1px solid black;
}

.red{
  border: 1px solid red;
}

.orange{
  border: 1px solid orange;
}

.yellow{
  border: 1px solid #ebe834 ;
}

.blue{
  border: 1px solid blue;
}

.lblue{
  border: 1px solid lightblue;
}

.green{
  border: 1px solid green;
}

.purple{
  border: 1px solid purple;
}

.pink{
  border: 1px solid pink;
}