ol{
  padding-inline-start: 0px;
}
.column{
  list-style: none;
  display: flex;
}
.item{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}

.item__content{
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}