.timeline{
  overflow-x: scroll;
  max-width: 100vw;
}

ol{
  padding-inline-start: 0px;
}

.column{
  list-style: none;
  display: flex;
}

.item.selected{
  border: 1px solid black;
  background-color: lightgray;
}

.item{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item__content{
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.item__content.item__content_invisible{
  visibility:hidden;
  display: none;
}


.item__content.item__content_visible{
  visibility: visible;
  display: block;
}

.black{
  border: 1px solid black;
}

.red{
  border: 1px solid red;
}

.orange{
  border: 1px solid orange;
}

.yellow{
  border: 1px solid #ebe834 ;
}

.blue{
  border: 1px solid blue;
}

.lblue{
  border: 1px solid lightblue;
}

.green{
  border: 1px solid green;
}

.purple{
  border: 1px solid purple;
}

.pink{
  border: 1px solid pink;
}